Dataset/movies_metadata.csv
Dataset/keywords.csv
Dataset/links_small.csv
Dataset/links.csv
Dataset/ratings_small.csv
Dataset/ratings.csv
Dataset/credits.csv
Dataset/modiified/metadata_dropnulls.csv
Dataset/modiified/Movies_data(3660).xlsx
src/mflix-app/~$movies_data.xlsx
src/mflix-app/movies_data.xlsx
src/Notebooks/data_read.ipynb
src/mflix-app/static/encodings_description.pickle
src/mflix-app/static/encodings_title.pickle
src/mflix-app/static/model.pickle
src/mflix-app/.env
src/mflix-app/static/Embeddings_Old/encodings_description.pickle
src/mflix-app/static/Embeddings_Old/encodings_title.pickle
src/mflix-app/static/Embeddings_Old/model.pickle
src/mflix-app/static/Embeddings_Old/encodings_description3000.pickle
src/mflix-app/static/Embeddings_Old/encodings_title3000.pickle
src/mflix-app/static/Embeddings_Old/model3000.pickle
src/mflix-app/static/Movies_dataset.csv
