Dataset/movies_metadata.csv
Dataset/keywords.csv
Dataset/links_small.csv
Dataset/links.csv
Dataset/ratings_small.csv
Dataset/ratings.csv
Dataset/credits.csv
Dataset/modiified/metadata_dropnulls.csv
Dataset/modiified/Movies_data(3660).xlsx
src/mflix-app/~$movies_data.xlsx
src/mflix-app/movies_data.xlsx
src/Notebooks/data_read.ipynb
src/data/iMAGES/*
src/data/credits.csv
src/data_big/ratings.csv
